<div class="quantityRow">
    <div class="container">
        <p>{{countingItem}}</p>
        <div class="number-input">
            <button class="button button-clear minus"  ng-click="decreaseQuantity()">
                <i class="minusBtn"></i>
            </button>
            <!-- <label class="item item-input">
                 <input disabled type="number" ng-model="product.quantity">
             </label>-->
            <label class="floatingLabel">
                <div class="inputContainer"> <!--ng-class="{longerInputContent: product.toString().length > 2 && countingLabel !== undefined}"-->
                    <input ng-class="{fullWidth: countingLabel === undefined}" type="number" ng-model="product">
                    <span>{{countingLabel}}</span>
                </div>

            </label>


            <button class="button button-clear plus" ng-click="increaseQuantity()">
                <i class="plusBtn"></i>
            </button>
        </div>
    </div>
</div>