@include body-language {
  change-amount {
    button {
      min-width: 16px !important;
    }
    &.centerInput {
      input {
        text-align: center !important;
      }
    }
    .quantityRow {
      float: left;
      width: 100%;
      padding: 10px 0;
      background-color: #f4f4f4;

      .container {
        > p {
          float: $floatLeft;
          margin-top: 7px;
          font-size: 17px;

        }
      }
      .number-input {
        float: $floatRight;

        * {
          float: $floatLeft;
        }
        .fullWidth {
          width: 100% !important;
        }
        .floatingLabel {
          width: 120px;



          .inputContainer {
            float: left;
            width: 100%;
            text-align: left;
            background-color: #fff;
            border: 1px solid #ddd;
            font-size: 16px !important;
            color: #a9a9a9 !important;


          }
          span {
            font-size: 16px!important;
            width: calc(50%-2px);
            line-height: 35px;
            margin-left: 5px;
          }
          input {
            width: 50%;
            padding-left: 0 !important;
            text-align: right;
            float: $floatLeft;
            background-color: #ffffff;
            border: none;
/*            padding-left: 5px;*/
            color: #a9a9a9 !important;
            font-size: 16px !important;
          }
        }
        /*.item-input{
          float: left;
          width: 60px;
        }*/

        button {
          margin-top: 7px;
          padding: 0;
          height: 20px !important;
          min-height: 16px;
          min-width: 16px;

          &.plus {
            float: $floatRight;
            @include margin-left('17px');
          }
          &.minus {
            @include margin-right('17px');
          }
        }

        .widerPadding {
          padding-left: 28px !important;
        }
      }
      .longerInputContent {
        input {
         /* padding-left: 12px !important;*/
        }
        span {
          right: 9px !important;
        }
      }
    }
  }
}

/*
.widerInput {
  input {
   */
/* width: 80px !important;*//*

  }
  .floatingLabel {
    position: absolute;
    margin-left: 49px !important;
    color: #999999 !important;
  }
}*/
