<ion-side-menus>
    <ion-side-menu-content >
    <ion-nav-view name="main">
        <header class="page-header">
            <h2>Jaffa farm</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>
        <div class="col-md-12 col-lg-12 col-xl-12" style="border-bottom: 1px solid #f15b41; margin-bottom: 30px;">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6" ng-click="showDetails('tp',$event)">
                    <section class="panel panel-featured-left panel-featured-primary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        Tp
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Temp</h4>
                                        <div class="info">
                                            <strong class="amount">26C</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6" ng-click="showDetails('ph',$event)">
                    <section class="panel panel-featured-left panel-featured-secondary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-secondary">
                                        PH
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">PH</h4>
                                        <div class="info">
                                            <strong class="amount">6.4</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6" ng-click="showDetails('ec',$event)">
                    <section class="panel panel-featured-left panel-featured-tertiary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-tertiary">
                                        EC
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Conductivity</h4>
                                        <div class="info">
                                            <strong class="amount">38</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6" ng-click="showDetails('do',$event)">
                    <section class="panel panel-featured-left panel-featured-quartenary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-quartenary">
                                        DO
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Oxygen</h4>
                                        <div class="info">
                                            <strong class="amount">3765</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="details" ng-show="isDetailsShown">
            <div class="row">
                <div class="col-lg-8">
                    <div class="chart-data-selector ready" id="salesSelectorWrapper">
                        <h2>
                            Sales:
                            <strong>
                                <select class="form-control" id="salesSelector" style="display: none;">
                                    <option value="Porto Admin" selected="">Porto Admin</option>
                                    <option value="Porto Drupal">Porto Drupal</option>
                                    <option value="Porto Wordpress">Porto Wordpress</option>
                                </select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="Porto Admin">Porto Admin <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="active"><a href="javascript:void(0);"><label class="radio"><input type="radio" name="multiselect" value="Porto Admin"> Porto Admin</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" name="multiselect" value="Porto Drupal"> Porto Drupal</label></a></li><li><a href="javascript:void(0);"><label class="radio"><input type="radio" name="multiselect" value="Porto Wordpress"> Porto Wordpress</label></a></li></ul></div>
                            </strong>
                        </h2>

                        <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                            <!-- Flot: Sales Porto Admin -->
                            <div class="chart chart-sm chart-active" data-sales-rel="Porto Admin" id="flotDashSales1" style="padding: 0px;"><canvas class="flot-base" width="257" height="184" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 257px; height: 184px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 26px; text-align: center;">Jan</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 55px; text-align: center;">Feb</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 86px; text-align: center;">Mar</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 116px; text-align: center;">Apr</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 146px; text-align: center;">May</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 178px; text-align: center;">Jun</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 210px; text-align: center;">Jul</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 237px; text-align: center;">Aug</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 135px; left: 13px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 101px; left: 1px; text-align: right;">100</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 68px; left: 1px; text-align: right;">200</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 34px; left: 1px; text-align: right;">300</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 0px; left: 1px; text-align: right;">400</div></div></div><canvas class="flot-overlay" width="257" height="184" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 257px; height: 184px;"></canvas></div>
                            <script>



                                // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

                            </script>

                            <!-- Flot: Sales Porto Drupal -->
                            <div class="chart chart-sm chart-hidden" data-sales-rel="Porto Drupal" id="flotDashSales2" style="padding: 0px;"><canvas class="flot-base" width="257" height="184" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 257px; height: 184px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 26px; text-align: center;">Jan</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 55px; text-align: center;">Feb</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 86px; text-align: center;">Mar</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 116px; text-align: center;">Apr</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 146px; text-align: center;">May</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 178px; text-align: center;">Jun</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 210px; text-align: center;">Jul</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 237px; text-align: center;">Aug</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 135px; left: 13px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 113px; left: 1px; text-align: right;">100</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 90px; left: 1px; text-align: right;">200</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 68px; left: 1px; text-align: right;">300</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 45px; left: 1px; text-align: right;">400</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 23px; left: 1px; text-align: right;">500</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 0px; left: 1px; text-align: right;">600</div></div></div><canvas class="flot-overlay" width="257" height="184" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 257px; height: 184px;"></canvas></div>
                            <script>


                            </script>

                            <!-- Flot: Sales Porto Wordpress -->
                            <div class="chart chart-sm chart-hidden" data-sales-rel="Porto Wordpress" id="flotDashSales3" style="padding: 0px;"><canvas class="flot-base" width="257" height="184" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 257px; height: 184px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 32px; text-align: center;">Jan</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 61px; text-align: center;">Feb</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 90px; text-align: center;">Mar</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 120px; text-align: center;">Apr</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 148px; text-align: center;">May</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 179px; text-align: center;">Jun</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 211px; text-align: center;">Jul</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 57px; top: 161px; left: 237px; text-align: center;">Aug</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 135px; left: 19px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 108px; left: 7px; text-align: right;">250</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 81px; left: 7px; text-align: right;">500</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 54px; left: 7px; text-align: right;">750</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 27px; left: 1px; text-align: right;">1000</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 0px; left: 1px; text-align: right;">1250</div></div></div><canvas class="flot-overlay" width="257" height="184" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 257px; height: 184px;"></canvas></div>
                            <script>



                                // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

                            </script>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <h2 class="panel-title mt-md">Sales Goal</h2>
                    <div class="liquid-meter-wrapper liquid-meter-sm mt-lg">
                        <div class="liquid-meter liquid-meter-loaded"><svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 220 220" width="100%" height="100%"><desc>Created with Snap</desc><defs><linearGradient x1="0" y1="0" x2="100" y2="100" gradientUnits="userSpaceOnUse" id="Shyn1rv292"><stop offset="0%" stop-color="#ffffff"></stop><stop offset="100%" stop-color="#f9f9f9"></stop></linearGradient><mask id="Shyn1rv298"><circle cx="110" cy="110" r="87" fill="#ffffff"></circle></mask></defs><circle cx="110" cy="110" r="95" fill="url('#Shyn1rv292')" stroke="#f2f2f2" style="stroke-width: 15px;"></circle><path id="front" fill="#cccccc" mask="url('#Shyn1rv298')" stroke="#ffffff" style="stroke-width: 1px;" d="M0,156.4 C114.4,143.4 180.4,130.4 220,126.4 L220,220 L0,220 z"></path><text x="50%" y="50%" fill="#333333" dy=".4em" stroke="#333333" style="font-family: 'Open Sans'; font-size: 24px; font-weight: 600; text-anchor: middle;"><tspan>35</tspan><tspan stroke="none" style="font-size: 24px;">%</tspan></text></svg>
                            <meter min="0" max="100" value="35" id="meterSales"></meter>
                        </div>
                        <div class="liquid-meter-selector" id="meterSalesSel">
                            <a href="#" data-val="35" class="active">Monthly Goal</a>
                            <a href="#" data-val="28">Annual Goal</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="SideMenuController">
        <ng-include src="'menu/menu.tpl.html'"></ng-include>
    </ion-side-menu>
</ion-side-menus>



