.menu {
  background-color: #363636;
}

.sideMenu {
  font-size: 18px;
  color: #fcfcfc !important;

  a {
    color: #fcfcfc;
  }

  .accountsList {
    float: left;
    width: 100%;
    > li {
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }
  /*.container {
    margin-top: 20px;*/

    .accountRow {
      float: left;
      width: 100%;
      border-bottom: 1px solid #000000 !important;
      background-color: #363636;
      &.item {
        border-width: 0;
      }

      .input-label {
        width: 80%;
        padding-top: 10px;
        padding-bottom: 0;

        * {
          float: left;
        }
        img {
          width: 60px;
          padding-bottom: 10px;
        }
        p {
          margin-top: 18px;
          /*@include margin-right('20px');*/
          margin-bottom: 0;
          margin-left: 14px;
/*          margin: 45px 20px 0 20px;*/
          color: #fcfcfc !important;
        }
        i {
          margin-top: 30px;
          float: right;
        }
      }

      select {
        right : 0;
        left: 'initial';
        width: 20%;
        padding-right: 0;
      }
    }
  .appPartsList {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;

    .container {
      padding-left: 15px;
      padding-right: 0;

      .list li {
        padding: 15px 0;
        border: none;
        text-align:left;
        font-size: 14px;

        &.item {
          background-color: #363636;
        }
      }
    }

  }

  .signOut.container {
    width: 100%;
    float: left;
    padding: 30px;

    a {
      font-size: 16px;
      float: left;
    }

  }

  .expandedPart {
    float: left;
  }
}


.removeSelectArrow {
  .accountRow.item-select:after {
    content: none;
  }
}