<div class="sideMenu">
    <ion-content>
        <ul class="accountsList" ng-class="{removeSelectArrow: multipleAccounts == false}">
            <li class="list">
                <label class="accountRow item item-input item-select">
                    <div class="input-label ">
                        <img src="/Daniel/www/assets/images/fluxlogo.png" alt="logo">

                        <p>flux</p>
                        <!--<i class="icon ion-ios7-arrow-down" ng-show="multipleAccounts"
                           ng-click="isCollapsed = !isCollapsed"></i>-->
                    </div>
                </label>
            </li>
            <!--collapse="isCollapsed"-->
            <li class="">
                <div class="appPartsList">
                    <div class="container">
                        <ul class="list">
                            <li ng-click="closeMenu('suppliers')" class="item" ng-show="isStateLinkAvailable('suppliers')">
                                <a>Dashboard</a>                            </li>
                            <li ng-click="closeMenu('suppliers')" class="item" ng-show="isStateLinkAvailable('suppliers')">
                                <a>Timeline</a>
                            </li>
                            <li ng-click="closeMenu('suppliers')" class="item" ng-show="isStateLinkAvailable('suppliers')">
                                <a>Recipes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</div>