<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Application</title>

    <script>

        var flotDashSales1Data = [{
            data: [
                ["Jan", 140],
                ["Feb", 240],
                ["Mar", 190],
                ["Apr", 140],
                ["May", 180],
                ["Jun", 320],
                ["Jul", 270],
                ["Aug", 180]
            ],
            color: "#CCCCCC"
        }];

        // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

    </script>

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
    <!-- ios CSS if needed -->
    <% if(!isWin){ %>
    <link rel="stylesheet" type="text/css" href="assets/styles/ios.css" />
    <% } %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>


    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>





</head>
<body ng-app="App" hold-witout-tap animation="slide-left-right-ios7" ng-controller="AppCtrl" ng-class="{rtl: $root.isHebrew}">

<!--
  The nav bar that will be updated as we navigate between views
  Additional attributes set its look, ion-nav-bar animation and icons
  Icons provided by Ionicons: http://ionicons.com/
-->
    <!--<ion-nav-bar class="bar bar-stable nav-title-slide-ios7">
        &lt;!&ndash;<ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-a"></i> Back
        </ion-nav-back-button>&ndash;&gt;
    </ion-nav-bar>-->

<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->

    <ion-nav-view animation="slide-left-right" class="slide-left-right"></ion-nav-view>


</body>
</html>